html, body {
  background-color: black;
}
button {
  font-size: 16px;
  color: rgba(244, 250, 252);
  position: absolute;
  top: 80%;
  left: 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  width: 50px;
  padding: 15px;
  border: 2px solid rgba(244, 250, 252);
  background-color: rgba(244, 250, 252) ;
  border-radius: 15px;
  outline: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur( 4.1px );
  border: 1px solid rgba(255, 255, 255, 0.14);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button.fade:hover {
  opacity: 0.8;
}

.fade {
  opacity: 0.2;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}